<footer id="footer" class="bg-one">
  <div class="top-footer">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h4>Về F0tech</h4>
            <p>F0tech là đơn vị chuyên cung cấp giải pháp marketing số, phần mềm ứng dụng AI và tư vấn chuyển đổi số cho doanh nghiệp.<br>Chúng tôi đồng hành cùng bạn trên hành trình số hóa toàn diện, từ chiến lược đến triển khai thực tế.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h4>Dịch vụ</h4>
            <ul class="link-list">
              <li>Marketing số</li>
              <li>Phát triển phần mềm & AI</li>
              <li>Tư vấn chuyển đổi số</li>
              <li>Thiết kế & phát triển website</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h4>Liên kết nhanh</h4>
            <ul class="link-list">
              <li><a href="index.html">Trang chủ</a></li>
              <li><a href="about.html">Giới thiệu</a></li>
              <li><a href="service.html">Dịch vụ</a></li>
              <li><a href="contact.html">Liên hệ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h4>Liên hệ</h4>
            <ul class="contact-info">
              <li>Địa chỉ: KĐT Biển Bình Sơn Oceanpark, Ninh Chữ, Khánh Hòa</li>
              <li>Hotline: <a href="tel:0836303333">0836.30.3333</a></li>
              <li>Email: <a href="mailto:contact@f0tech.vn">contact@f0tech.vn</a></li>
              <li>Kết nối: <a href="#" target="_blank">Facebook</a> | <a href="#" target="_blank">Zalo</a> | <a href="#" target="_blank">YouTube</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> <!-- end container -->
  </div>
  <div class="footer-bottom">
    <h5>© 2025 F0tech. All rights reserved</h5>
  </div>
</footer> <!-- end footer -->


<!-- end Footer Area
========================================== -->