<div class="hero-slider">
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-bg-1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">F0tech – Đối tác chiến lược trong chuyển đổi số và công nghệ</h1>
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Chúng tôi cung cấp giải pháp công nghệ, AI và marketing số giúp doanh nghiệp nâng cao hiệu suất và tạo lợi thế cạnh tranh bền vững.</p>
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main"
						href="service.html">Tìm hiểu thêm</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-bg-2.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Giải pháp công nghệ toàn diện cho doanh nghiệp hiện đại</h1>
					<p>F0tech hỗ trợ doanh nghiệp ứng dụng công nghệ, tự động hóa quy trình và phát triển hệ thống số hóa theo hướng linh hoạt và hiệu quả.</p>
					<a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main"
						href="service.html">Tìm hiểu thêm</a>
				</div>
			</div>
		</div>
	</div>
</div>